.contacto{
    text-align: center;
}
.contacto p{
    padding: 0.5rem;
}

.contacto-boton {
    color: #E33B3B;
    font-weight: bold;
    margin: 1rem auto;
    width: 80%;
    border: solid 1px;
    border-radius: 5px;
}


/****** PANTALLA PARA SMARTPHONES *******/

@media all and (min-width:320px){
    .institucional img{
        width: 100%;
        padding: 2rem 0;
    }
}


/********* PANTALLA PARA TABLETS **********/
@media all and (min-width:480px){
    .contacto-boton{
        width: 40%;
    }
    .institucional img{
        width: 80%;
    }
}