.sobre-nosotros{
    margin: 3rem 0;
}

.sobre-nosotros-articulo section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight:bold;
    color: black;
    margin: 1rem 0;
}
.sobre-nosotros-articulo section h3{
    font-weight: bolder;
}

.sobre-nosotros-descripcion p{
    color: #4F4C4C;
    padding: 1rem;
}
.sobre-nosotros-descripcion h2{
     margin: 1rem 0;
     text-align: center;
}


/****** PANTALLA PARA SMARTPHONES *******/


@media all and (min-width:320px){
    .sobre-nosotros-articulos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sobre-nosotros-articulo{
        width: 60%;
    }
    .sobre-nosotros-descripcion .imagen{
        display: none;
    }
    .sobre-nosotros-descripcion .plataformas{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }
}


/********* PANTALLA PARA TABLETS **********/

@media all and (min-width:480px){
    .sobre-nosotros-articulo{
        width: 40%;
    }
    .sobre-nosotros-descripcion .plataformas{
        width: 60%;
    }
}



/********** PANTALLA PARA ESCRITORIO **********/

@media all and (min-width:1024px){
    .sobre-nosotros-articulos{
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    }
    .sobre-nosotros-articulo{
        width: 20%;
    }
    .sobre-nosotros-descripcion{
        display: flex;
        width: 90%;
        margin: 2rem auto ;
    }
    .sobre-nosotros-descripcion .imagen{
        display: block;
    }
}